

.homepageImages {
display: flex;
justify-content: space-evenly;
align-items: center;
width: 100%;
padding-right: 10px;
padding-top: 40px;
margin-top: 50px;

}

.hattieSketchbook {
    width: 55%;
    height: auto;
    object-fit: cover;
}

.annuFlower {
    width: 25%;
    height: auto;
    object-fit: cover;
    padding-top: 40px;
}