.proposalsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  width: 100%;

  font-family: Switzer;
}

.proposalsContainer h2 {
  color: #F7371E;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 40px;
  position: relative;
}



.proposalsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  width: 90%;
  max-width: 1400px;
}

.proposalCard {
  background: white;
  border: 2px solid #3e3d3d;
  border-radius: 3px;
  padding: 30px;
  transition: 
    box-shadow 0.3s ease,
    transform 0.3s ease;
  position: relative;
  overflow: hidden;
  height: 350px;
}

.proposalCard:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
  transform: translateY(-5px);
}

.proposalInfo {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.proposalInfo h4 {
  font-size: 18px;
  color: #F7371E;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 500;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.proposalInfo p {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #666;
}

.proposalInfo p strong {
  color: #000;
  font-weight: 400;
}

.cardButtonsAdmin, .cardButtonsUser{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border-top: 1px solid #e0e0e0;
  padding-top: 15px;
}

.cardButtonsAdmin button, .cardButtonsUser button {
  background-color: #F7371E;
  color: white;
  border: 2px solid #F7371E;
  border-radius: 2px;
  padding: 8px 15px;
  font-size: 12px;
  letter-spacing: 1px;
  transition: 
    background-color 0.3s ease,
    color 0.3s ease;
    margin: 5px;
}

.cardButtonsAdmin button:hover, .cardButtonsUser  button:hover {
  background-color: white;
  color: #F7371E;
}

.statusUpdate {
  margin-top: 20px;
  border-top: 1px solid #e0e0e0;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statusUpdate select {
  border: 1px solid #e0e0e0;
  padding: 8px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .proposalsGrid {
    grid-template-columns: 1fr;
  }
}